//Colors
$true-blue: #0370d0;
$bleu-de-france: #3c85f4;
$governor-bay: #3f4caf;
$jordy-blue: #80affe;
$charade: #222d33;
$mako: #454F54;
$mountain-mist: #91969a;
$bright-sun: #ffcd40;
$abbey: #50595e;
$silver-chalice: #afb0b1;
$cinnabar: #EA4335;
$crayola: #1574FF;
$platinum: #E2E2E2;
$han-blue: #376ad3;
$yale-blue: #134a9e;
$banana: #FFEB3B;

//Spacing
$padding: 5vw;
$height: 100vh;
$width: 100vw;
$animation-space: 100px;